body {
    padding: 10px;
    background-color: #bcc9be;
    /* background-image: url("fonas.png"); */
    
    
}

h1{
    /* font-family: Georgia, serif; */
    font-family: 'Archivo', sans-serif;
    font-size: 70px;
    font-weight: bold;
}

p{
    font-family: 'Archivo', sans-serif;
}
.card {
    background-color: #3b7c5a;
    border-radius: 1rem ;
    border-width: 3px;
    /* position: absolute; */
    display:flex;
    width: 400px;
    height: 300px;
    margin: 30px; 
    margin-left: 50px; 
    padding:10px; 
    float: left;  
    border-color:#3b7c5a;
}
.nav{
    align-items: center;
    padding-left: 37%;
    
}
.nav-link{
    color: #bcc9be;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
}
.nav-link:hover {
    color: #A25B5B;
}

.container {
    background-color: #3b7c5a;
    margin: auto;
    margin-top: 60px;
    padding:100px; 
    float: center; 
    width: 600px; 
    height: 600px; 
    border-radius: 2rem ;
   
}

.formCreateListing{
    padding: 50px;
    border-radius: 1rem ;
}


form input[name='pavadinimas'] {
    width: 400px;
    height: 50px;
    background-color: #bcc9be;
    font-weight: 20px;
}

form input[name='kaina'] {
    width: 100px;
    height: 50px;
    background-color: #bcc9be;
}
form input[name='nuotrauka'] {
    width: 240px;
    background: #bcc9be;
}
form-fields{
font-size: 20px;
color: #A25B5B;
}