{% extends "auctions/layout.html" %}

{% block body %}

    
        {% for product in products %}
        <div class="card" >
            <p align="center"><a href="{% url 'listing' product.id %}">{{ product.id }} </a></p>
        <ul>
            <img src="{{ nuotrauka.image.url}}" alt="Foto" style="max-height:300px">  
            <b><li>{{product.pavadinimas}} </li>
            <li>{{product.kaina}} € </li>




            
            <!-- <li>{{product.nuotrauka}}</li> -->
           
            



            <br>
            <br>
            

              <form action="addwatchlist/{{product.id}}" method="post">
                {% csrf_token %}
                {{ form }}
                 <button class="btn" style="width:70px; background-color:#A25B5B; margin-right:0px" ><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-basket2-fill" viewBox="0 0 16 16">
                    <path d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69 15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1 0-.858.514L12.617 6H3.383L5.93 1.757zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm4-1a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0v-2a1 1 0 0 1 1-1z"/>
                  </svg></style>
            </form>
            
        </ul>
        </div>
        
             <!-- {{listing.description}}, {{listing.price}}, {{listing.image}}, {{listing.category}}, {{listing.last_bid}}, {{listing.bidder}} "</li> -->
        {% endfor %}

   
    
        
{% endblock %}